/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {

    --bg-color #E6E6FA;
    --text-color:#24305E;
    --large-font: 50px;
    --medium-font: 30px;
    --small-font: 16px;
}

li, a, button {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
}

header {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

section {
    padding: 50px 10%;
}

.logo {
    cursor: pointer;
}

.navbar {
    list-style: none;

}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a {
    transition: all 0.4s ease 0s;
    
}

.navbar li a:hover {
    color: rgb(71, 71, 201);
    
}

button {
    padding: 10px 25px;
    background-color: cyan;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease 0s ;
}

button:hover {
    background-color: rgb(119, 84, 233);

}

.social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.bx {
    font-size: 30px;
}

/* Variables */

body {

    color: var(--text-color) ;
    background-color: var(--bg-color);

}

/* -------------- Home section ------------------*/
.logo {
    float: ;
}

.home {
    position:relative;
    width: 100%;
    min-height: 65vh;
    align-items: center;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    padding: 0px 20px;

}

.profile{
    display: flex; 
    flex-wrap: wrap;
}
.home-text {
    display: inline-block;
}

.home-text span {
    font-size: var(--medium-font);
    font-weight: 500;
}

.home-text h1 {
    font-size: var(--large-font);
    color: rgb(59, 59, 250);
}

.home-text h2 {
    font-size: ;
    font-weight: 400;
}

.home-text p{
    font-size: var(--p-font);
    font-weight: 400;
}
/* About section */

.heading {
    text-align: center;
    padding-bottom: 20px;
}

.heading h2 {
    font-size: 30px;
    border: border-box;
    border-radius: 50px;
    background-color: rgb(192, 222, 247);

}

.about {
    text-align: center;
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    border: 5px #88f solid;
    border-radius: 50px;
    border-style: outset;
    

}
.about-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 16px;
    margin-top: 32px;
}

.about-text > span {
    text-decoration: line-through;
}

.about-text > p {
text-align: center;

}

/* ------ Portfolio Section ---------*/

.portfolio {
    text-align: center;
    margin: 50px auto;
    box-sizing: border-box;
    border: 5px #88f solid;
    border-radius: 50px;
    display: inline-block;
}

.portfolio-content{
    margin: auto;
    box-sizing: border-box;
    gap: 1rem;
    margin-top: 2rem;

}

.portfolio-img {
    overflow: hidden;
    border-radius: 0.5rem;
    box-sizing: border-box;
    border-style: outset;
}

.portfolio-img img {
    width: 100%;
    display: flex;
}

.portfolio-img span {
    position: relative;
    font-size: var(--medium-font);
    padding: 20px 20px;
    margin: auto;
    background-color: lightgray;

}

.portfolio-img img:hover {
    transform: scale(1.1);
    transition: 1s;
}

#project1, #project2, #project3 {
    max-width: 500px;
    max-height: 500px;
    display: inline-block;
}

/* ---- Form Section ---- */
.form {
    position: relative;
    display: grid;
    justify-content: center;
    margin: auto;
    padding: 20px 0px;
}


.form-inner input, textarea {
display: block;
width: 100%;
padding: 15px;
margin-bottom: 10px;
border: none;
border-radius: 20px ;
background: aliceblue;
}

.form-inner h3 {
    font-size: var(--medium-font);
    padding: 25px 0px;
}

.footer {
    padding: 30px;
    clear: both;
    text-align: center;
    background-color: rgb(182, 243, 235);
}

@media only screen and (min-width: 800px) {
    
}