/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* Variables */

:root {

    --main-color:#88f ;
    --bg-color #E6E6FA:
    --text-color:#24305E ;
    --hover: #fff;
}

body {

    color: var(--text-color) ;
    background-color: var(--bg-color);

}

div > img {
    max-height: 400px;
    
}

section {
    padding: 50px 10%;
}

*::selection {
    color: var(--bg-color);
    background: var(--main-color);
}

/* -------------- Home section ------------------*/

.home {
    position:relative;
    width: 100%;
    min-height: 400px;
    display: grid;
    align-items: center;
    gap: 1rem;

}
a{
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 960px;
    margin: auto;
    width: 100%
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    
}

.nav-link {

}
